* {
    font-family: "Source Sans Pro", sans-serif;
    box-sizing: border-box;

    margin: 0 auto;
    padding: 0;
    text-align: center;


  }


    /* New styling under this line ======================================================================= */
    section{
      position:relative;
      top:100px;
    }
    #stats-container{
      display: flex;
      justify-content: space-between;
      border: 5px solid black;
  
   }
    h1{
      margin-bottom: 20px;
    }
