* {
    font-family: "Source Sans Pro", sans-serif;
    margin: 0 auto;
    padding: 0;
    text-align: center;


  }
 
  header {
    background-color: white;
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px 0;
    width: 100%;
    height: 40px;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0px 0px 14px 2px #dcd6d6;
    z-index: 98;
  }
  /* footer style */
  .footer-icon img {
    display: flex;
    width: 20px;
    height: 20px;
    margin-left: 12px;
  }
  #active {
    color: #ff647c;
  }
  .footer-text {
    font-size: 16px;
    margin-top: -2px;
    margin-left: -2px;
  }
  .footer-icon {
    text-decoration: none;
    color: #afaaaa;
    display: flex;
    flex-direction: column;
  }
  footer {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    position: fixed;
    color: #dcd6d6;
    width: 100%;
    border-top: 1px solid #dcd6d6ce;
    bottom: 0;
    left: 0;
    padding-top: 15px;
    width: 100%;
    height: 45px;
    z-index: 98;
  }
  

    /* New styling under this line ======================================================================= */
    section{
      position:relative;
      top:100px;
    }
    #first-row{
      display: flex;
      justify-content: space-between;
      margin: 10vh auto;
  
   }
   #second-row{
    display: flex;
    justify-content: space-between;
    margin: 10vh auto;


 }
 #third-row{
  display: flex;
  justify-content: space-between;
  margin: 10vh auto 15vh auto;


}


    h1{
      margin-bottom: 20px;
    }

    #third-row .circle {
      position: relative;
      width: 210px;
      height: 210px;
      justify-content: center;
      justify-items: center;
    }
    #third-row .circle svg {
      position: relative;
      width: 210px;
      height: 210px;
    }
    #third-row .circle svg circle {
      width: 210px;
      height: 210px;
      fill: none;
      stroke-width: 5;
      stroke: black;
      transform: translate(50px, 5px);
      stroke-dasharray: 314;
      stroke-dashoffset: 314;
    }
    #third-row .circle svg circle:nth-child(1) {
      stroke-dashoffset:0;
      stroke: #f0eeec;
    }
    
    
    #third-row .circle .title {
      position: absolute;
      top: -50px;
      left: -5px;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    
    .title p {
      color: #1c0f13;
    }

  
    